// COMENTARIO SASS
.colorFuente{
    color:black;
}
//Cambio de color y tamaño de fuente
body{  
    width: 100%;
    background-color: black;
    a {
        font-size: large;
    }
}
// Separacion entre las cards
div body{ 
    margin: 0px;
    padding: 10px;
    justify-content: center;
    
}
//Cambio de tamaño y posicion de precios
div p{
    margin: 0px;
    padding:10px 150px;
    font-size: large;
}
//Cambio posicion de botones de tarjetas
div p button {
    margin: 0;
    padding: 10px 150px;
}
//Cambio color de contenido del footer
footer span{
    color:white;
}
@mixin posicion ($margin,$padding,$justify-content) {
    margin: $margin;
    padding: $padding;
    justify-content: $justify-content;
    
}
div body{
    @include posicion(0,10,center);
}
.bodynuevo{
    @extend body ;
    color:black;
}

#presentacionRopa {
       background-image:url("../img/fondoLevis.png");
       background-color: black;
}
form label{
    color: white;
}

.colorBoton{
    color:white;
    background-color: black;
    border-color: black;

}
.colorBotonMujeres{
    color: black;
    border-color: pink;
    background-color: pink;
}
.colorBotonHombre{
    color: black;
    border-color:lightblue;
    background-color:lightblue;
}
.colorBotonNinos {
    color: black;
    border-color:rebeccapurple;
    background-color: rebeccapurple;
}


    