.colorFuente{
    color:black;
}
body{
    width: 100%;
    background-color:gray;
    a {
        font-size: large;
    }
}
div body{
    margin: 0px;
    padding: 10px;
    justify-content: center;
    
}
div p{
    margin: 0px;
    padding:10px 150px;
    font-size: large;
}
div p button {
    margin: 0;
    padding: 10px 150px;
}

footer span{
    color:white;
}
@mixin posicion ($margin,$padding,$justify-content) {
    margin: $margin;
    padding: $padding;
    justify-content: $justify-content;
    
}
div body{
    @include posicion(0,10,center);
}
.bodynuevo{
    @extend body ;
    color:black;
}